.page-detail {
  width: 100vw;
  height: 100vh;
  display: flex;

  :global {
    .components {
      width: 300px;
      background-color: #eee;
    }

    .content {
      flex: 1;
      overflow: overlay;

      iframe {
        width: 375px; 
        min-height: 1800px;
      }
    }
  }
}